h1 {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 6.4rem;
}

h2 {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2.6rem;
}

.body--large {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2.4rem;
}

.body--normal {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.7rem;
}

.body--caps {
  font-family: "PT Sans";
  font-size: 1.7rem;
  text-transform: uppercase;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (max-width: 1440px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

ul {
  padding: 0;
}

li, button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background: #F3F2EF;
}

.btn {
  display: inline-block;
}

#container {
  padding: 0 8.8rem 0 8.8rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  #container {
    display: none;
  }
}

img {
  max-width: 100%;
}

.main {
  padding: 0 8.8rem 0 8.8rem;
  overflow: hidden;
  background: #F3F2EF;
}

.main h1 {
  width: 90%;
  padding-top: 13.6rem;
}

.main__container {
  display: flex;
  padding-top: 9.5rem;
}

.main__text__container {
  display: flex;
  flex-direction: column;
  width: 61.6rem;
  padding: 5.7rem 0 6.4rem 5.7rem;
}
@media (max-width: 882px) {
  .main__text__container {
    width: 100%;
    padding: 0;
  }
}

.main__text__link {
  margin-top: 6.4rem;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.main__text__link__text {
  position: relative;
  bottom: 33%;
  left: 1.9rem;
}

.cookies {
  background: #003333;
  width: 41.4rem;
  height: 22.8rem;
  padding: 4rem;
  color: #FFF;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 8.8rem;
  display: block;
}
@media (max-width: 767px) {
  .cookies {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cookies__container {
  display: flex;
  margin-top: 5.5rem;
  height: 4.4rem;
  text-align: center;
}

.cookies__btn {
  background: #80f785;
  width: 18.4rem;
  height: 100%;
  border: none;
}

.cookies__decline {
  position: relative;
  top: 25%;
  left: 10%;
}

.arrow {
  position: relative;
  top: 3.4rem;
  right: 3.4rem;
}

.arrow--right {
  transition: all 1s;
}

.arrow--right--clicked {
  transform: translateX(-2rem);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.active {
  opacity: 1;
  visibility: visible;
  max-height: 100vh;
}

@media (max-width: 882px) {
  .main__img {
    display: none;
  }
}

@media (max-width: 882px) {
  .main__text__link {
    display: none;
  }
}

.mobile__nav {
  padding: 2.8rem 0 3.2rem 2.3rem;
  background: #F3F2EF;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: none;
  justify-content: space-between;
}
@media (max-width: 882px) {
  .mobile__nav {
    display: flex;
  }
}

.dropdown__mobile {
  max-height: 0;
  transition: max-height 0.5s linear, opacity 0.33s linear, visibility 0.5s linear;
}

.dropdown__mobile.hidden {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown__mobile.active {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  max-height: 100vh;
}

.h1__mobile {
  display: none;
  padding-top: 16rem;
}
@media (max-width: 767px) {
  .h1__mobile {
    display: block;
  }
}

.mobile__img {
  display: none;
}
@media (max-width: 882px) {
  .mobile__img {
    display: block;
  }
}

.nav__btn {
  display: none;
}
@media (max-width: 767px) {
  .nav__btn {
    display: block;
  }
}

.h1__mobile {
  padding: 20rem 0 5rem 0;
}

.mobile__nav__btn {
  position: absolute;
  right: 4.6rem;
  cursor: pointer;
}

.mobile__nav__expanded {
  background-color: #F3F2EF;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 9.6rem;
  left: 0;
  transition: opacity 0.5s linear, max-height 0.75s linear, visibility 0.75s linear;
  height: 100vh;
  overflow-y: scroll;
}

.mobile__nav__expanded ul {
  list-style-type: none;
}

.mobile__nav__expanded li {
  border-bottom: 1px solid black;
  padding: 2.1rem 2.8rem 2.1rem 3.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.mobile__product, .mobile__resources {
  padding: 2.3rem 9rem 2.3rem 3.2rem;
}

.mobile__product li {
  padding: 0 0 3.2rem 0;
}

.mobile__company, .mobile__product, .mobile__resources {
  background: #FFFFFF;
}

.mobile__product li, .mobile__company li {
  border: 0;
}

.main__text__btn {
  height: auto;
  margin: 6.5rem 0 6.5rem 0;
  display: none;
  padding: 1.6rem 3.4rem 1.2rem 3.8rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 882px) {
  .main__text__btn {
    display: flex;
  }
}

.main__text__btn__text {
  width: 60%;
}

.mobile__product__btn {
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.4rem 1.2rem 3.8rem;
}
@media (max-width: 882px) {
  .mobile__product__btn {
    display: flex;
  }
}

.mobile__product__li {
  position: absolute;
  left: 7.2rem;
}

.desktop__nav {
  background-color: #F3F2EF;
  height: 8.5rem;
  width: 100%;
  outline: 1px solid black;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
@media (max-width: 882px) {
  .desktop__nav {
    display: none;
  }
}

.desktop__nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop__nav ul li a {
  text-decoration: none;
  color: #000;
  line-height: 8.5rem;
}

.nav__links {
  display: flex;
  align-items: center;
  width: 50rem;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .nav__links {
    display: none;
  }
}

.nav__logo {
  margin-left: 8.8rem;
  cursor: pointer;
}

.nav__login {
  padding: 1.1rem 3.6rem 1.3rem 3.7rem;
  margin-right: 8.8rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav__login {
    display: none;
  }
}

@media (max-width: 767px) {
  .h1__desktop {
    display: none;
  }
}

.btn--primary {
  background-color: #80f785;
  border: none;
  border-radius: 4px;
}

.dropdown__product:hover .nav__svg {
  transform: rotateX(180deg);
}

.dropdown__company:hover .nav__svg {
  transform: rotateX(180deg);
}

.dropdown__resources:hover .nav__svg {
  transform: rotateX(180deg);
}

.nav__svg {
  transition: transform 0.3s ease;
}

.company, .product {
  z-index: 100;
  position: fixed;
  background: #F3F2EF;
  width: 100%;
  left: 0;
  top: -6.3rem;
  padding: 6.4rem 8.8rem 0 8.8rem;
  border-bottom: 1px solid black;
}

.company:hover {
  visibility: visible;
  opacity: 1;
}

.product:hover {
  visibility: visible;
  opacity: 1;
}

.resources:hover {
  visibility: visible;
  opacity: 1;
}

.product, .company, .resources {
  margin-top: 14.9rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
}
@media (max-width: 882px) {
  .product, .company, .resources {
    margin-top: 14.9rem;
    display: none;
  }
}

.resources {
  z-index: -1;
  position: fixed;
  background: #F3F2EF;
  width: 100%;
  left: 0;
  top: 8.5rem;
  margin: 0;
  border-bottom: 1px solid black;
}

.dropdown:hover {
  border-bottom: 3px solid #80f785;
  z-index: 1000;
}

.dropdown__company:hover + .company {
  visibility: visible;
  opacity: 1;
}

.dropdown__product:hover + .product {
  visibility: visible;
  opacity: 1;
}

.dropdown__resources:hover + .resources {
  visibility: visible;
  opacity: 1;
}

.product__wrapper, .company__wrapper {
  display: flex;
  justify-content: space-between;
}

.product__element, .company__element {
  width: 29.2rem;
}

.product__element__line {
  width: 80%;
  height: 1px;
  background: #000;
  margin: 2.6rem 0 2.6rem 0;
}

.product__element li {
  margin-bottom: 3.2rem;
}

.product__element__li__text {
  margin-left: 2.3rem;
}

.product__element__btn {
  display: flex;
  border: none;
  justify-content: flex-start;
  align-items: center;
}

.product__signup {
  margin-left: 1.9rem;
}

.company__element ul, .product__element ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
}

.company__element li {
  margin-bottom: 3.2rem;
}

.resources__wrapper {
  width: 100%;
  display: flex;
}

.resources__left {
  width: 50%;
  background: #F3F2EF;
  padding: 6.4rem 8.8rem 0px 8.8rem;
}

.nav__text {
  width: 29.2rem;
}

.resources__right {
  width: 70.4rem;
  background: #FFF;
  padding: 6.4rem 8.8rem 0 8.8rem;
}

.resources__right__post {
  display: flex;
  margin: 2.9rem 0 2.2rem 0;
  cursor: pointer;
}

.resources__right__line {
  height: 0.1rem;
  background: #000;
  width: 100%;
}

.resources__right__img {
  width: 36%;
  overflow: hidden;
}

.resources__right__text {
  width: 29.2rem;
  margin-left: 3.2rem;
}

.resources__right__text p {
  margin-top: 3.8rem;
}/*# sourceMappingURL=style.css.map */